body.light {
    background-color: #9b9db2;
    color: #000000;
}
body.dark {
    background-color: #121212;
    color: #ffffff;
}

body.light a {
    color: #000000;
}

body.dark a {
    color: #ffffff;
}

.conteiner{
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
